@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i&display=swap');

// Type
$font-family-sans: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Forms
$input-border-color: #CFD8DC;
$input-height: 40px;

// Breakpoints
$desktop: 61rem;
$tablet: 48em;
